@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Tex Gyre Termes";
    src: url("/assets/fonts/texgyretermes-italic.woff2") format("woff2"),
         url("/assets/fonts/texgyretermes-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

:root {
    --lightGray: #f5f5f5;
    --red: #BF0C34;
    --dark-red: #9f082a;
    --white: #ffffff;
    --text-gray: #d9d9d9;
    --gray: #454545;
    --tex-gyre: "Tex Gyre Termes", sans-serif;
    --kanit: "Kanit", sans-serif;
    --roboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar, 
main::-webkit-scrollbar {
    display: none;
}

main {
    background-image: url("assets/mesh-bg.png");
}

.calculator-header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background-color: var(--red);
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-logo img {
    width: 64px;
    height: 64px;
    margin-left: 120px;
}

.container-logo h1 {
    color: var(--white);
    font: normal 500 2rem/normal var(--kanit);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-item {
    text-decoration: none;
    color: var(--white);
    font: normal 400 1.5rem/normal var(--kanit);
    gap: 80px;
}

.nav-item:last-child {
    margin-right: 120px;
}

.main-header, .hero, .features, .about-us, .team {
    font-family: var(--kanit);
    padding: 0 164px;
}

main {
    max-height: 100vh;
    overflow: auto;
}

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, rgba(52, 52, 52, 0.8) 0%, rgba(52, 52, 52, 0.4) 60%, rgba(52, 52, 52, 0) 100%);
    /*backdrop-filter: blur(10px);     */
    z-index: 10;
}

.main-header > a > div > img {
    margin-left: 0;
}

.main-header > nav > .nav-item:last-child {
    margin-right: 0;
    background-color: var(--red);
    border-radius: 10px;
    padding: 0 10px;
}

.main-header > nav > .nav-item:last-child:hover {
    background-color: var(--dark-red);
}

.logo-anchor {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url(assets/hero-background.png) no-repeat center / cover;
    background-blend-mode: darken;
}

.hero-text-container {
    width: 645px;
    color: var(--white);
}

.hero-text-container h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
}

.hero-text-container h1 {
    font-size: 130px;
    font-style: normal;
    font-weight: 500;
    line-height: 130px;
}

.hero-text-container p {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 30px;
}

/* New Addition: Hero Button */
.hero-text-container a {
    text-decoration: none;
    font: normal 400 1.5rem / normal var(--kanit);
    background: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-text-container a:hover {
    background: var(--red);
    color: var(--white);
}

.red {
    color: var(--red);
}

.features {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    background: var(--white);
    padding-top: 2em;
    color: var(--gray);
}

.features, .about-us {
    background: none;
}

.feature-header, .about-us-header, .team > h1 {
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
}

.features-container {
    display: flex;
    justify-content: space-between;
}

.feature-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1em;
    width: 22vw;
    background-color: var(--white);
    max-width: 600px;
    height: 70vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 5px 10px;
    padding: 20px;
}

.feature-tile-header {
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
}

.feature-text {
    font-size: 3vh;
    font-style: normal;
    font-weight: 300;
}

.about-us, .team {
    width: 100vw;
    height: 100vh;
    color: var(--gray);
    padding-top: 2em;
}

.about-us-header, .team > h1 {
    padding-bottom: 20px;
}

.about-us p {
    color: var(--gray);
    font-family: var(--kanit);
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px; /* 116.667% */
    margin-bottom: 1em;
    max-width: 1300px;
}

.team-container {
    display: inline-flex;
    gap: 5.5rem;
    align-items: center;
}

.icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.team {
    height: 50vh;
}

.team-member {
    text-align: center;
    justify-content: center;
    margin-bottom: 6.25rem;
}

/* Matrix Calculator Styling */
.input-fields {
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('assets/mesh-bg.png') lightgray 50% / cover no-repeat;
}

.dimension-gen {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    color: var(--white);
}

.matrix {
    background: var(--red);
    width: 28.4375rem;
    height: 7.0625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font: 400 1.25rem/1.25rem var(--roboto);
    padding: 0 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.matrix input {
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border-color: var(--text-gray);
}

.matrix input::placeholder {
    font-family: var(--tex-gyre);
    font-size: 1rem; 
    padding: 0 3px;
}

.matrix input:focus {
    outline: none;
    padding: 0 5px; 
    font-family: var(--roboto);
}

.dimension-gen button {
    margin-top: 2rem;
    padding: auto;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 3rem;
    font: normal 400 1rem/normal var(--roboto);
    background: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dimension-gen button:hover {
    background: var(--red);
    color: var(--white);
    border: 1px solid var(--white);
}

.result { 
    background: var(--red);
    width: 100vw;
    height: 92rem;
}